# Compiled output
build

# Dependencies
node_modules

# Infrastructure
.terraform
*.tfstate*

# Test and Code Coverage
coverage

# Logs
*.log*

# Miscellaneous
.env*
!.env.example
.eslintcache
.stylelintcache
