# Artifacts and Compiled Output
.artifact
build

# Dependencies
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# Infrastructure
.terraform
*.tfstate*

# Test and Code Coverage
coverage

# Logs
*.log*

# Miscellaneous
.env*
!.env.example
