# Artifacts and Compiled Output
.artifact
build

# Dependencies
node_modules

# Infrastructure
.terraform
*.tfstate*

# Internationalization
src/i18n/translations/*.json

# Test and Code Coverage
coverage

# Logs
*.log*

# Miscellaneous
.all-contributorsrc
.env*
!.env.example
