# Compiled Output
build

# Dependencies
node_modules

# Infrastructure
.terraform
*.tfstate*

# Test and Code Coverage
coverage

# Translations
src/i18n/translations/*.json

# Logs
*.log*

# Miscellaneous
.all-contributorsrc
.env*
!.env.example
.eslintcache
.stylelintcache
